.heart-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s; 
  }
  
  .heart-button:hover {
    color: #ff6347; 
  }
  
  .liked {
    color: #ff0000;
  }
  